<!--instagram-->
<div class="instagram">
    <div class="container-fluid">
        <div class="instagram-area">
            <div class="instagram-list">
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/1.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/2.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/3.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/4.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/5.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="instagram-item">
                    <a href="javascript:void(0)">
                        <img src="assets/img/instagram/6.jpg" alt="">
                        <div class="icon">
                            <i class="lab la-instagram"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>