<div *ngIf="data.name === 'Delete' ">
    <h1 mat-dialog-title style="font-weight: bold">{{ data.name }}</h1>
    <mat-dialog-content class="mat-typography">
        <p style="font-size: 16px;">Are you sure want to delete this post?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="delete()">Delete</button>
        <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.name === 'Edit' ">
    <h1 mat-dialog-title style="font-weight: bold">{{ data.name }}</h1>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="postForm" action="#" class="sign-form widget-form " method="post">
            <div class="form-group">
                <label for="title" style="font-weight: bold;">Post's title <span style="color: red;">*</span></label>
                <input formControlName="title" type="text" maxlength="1000" class="form-control" name="title"
                    placeholder="Enter post's title"
                    [ngClass]="{'invalid': (form.title.touched || form.title.dirty || isSubmitted) && form.title.errors}">
                <div *ngIf="(form.title.touched || form.title.dirty || isSubmitted)">
                    <mat-error class="custom__mat-error text-left" *ngIf="form.title.errors?.required">
                        Title is required</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="title" style="font-weight: bold;">Post's description <span
                        style="color: red;">*</span></label>
                <input formControlName="description" type="text" maxlength="1000" class="form-control"
                    name="description" placeholder="Enter post's description"
                    [ngClass]="{'invalid': (form.description.touched || form.description.dirty || isSubmitted) && form.description.errors}">
                <div *ngIf="(form.description.touched || form.description.dirty || isSubmitted)">
                    <mat-error class="custom__mat-error text-left" *ngIf="form.description.errors?.required">
                        Description is required</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="image" style="font-weight: bold;">Post's cover image <span
                        style="color: red;">*</span></label>
                <input class="mb-2" #fileInput style="display: block;" type="file" name="image"
                    (change)="selectFile($event)">
                <img src="{{ data.data.image ? data.data.image : '' }}" alt="">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="category" style="font-weight: bold;">Post's category <span
                                style="color: red;">*</span></label>
                        <ng-select formControlName="categoryId" [searchable]="true" placeholder="Select category"
                            [appendTo]="'body'">
                            <ng-option *ngFor="let cat of categoryList" [value]="cat.id">{{ cat.name
                                }}
                            </ng-option>
                        </ng-select>
                        <div *ngIf="(form.categoryId.touched || form.categoryId.dirty || isSubmitted)">
                            <mat-error class="custom__mat-error text-left" *ngIf="form.categoryId.errors?.required">
                                Category state is required</mat-error>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="tag" style="font-weight: bold;">Post's tags<span style="color: red;">(Maximum 5
                                tags)</span></label>
                        <ng-select #ngSelect formControlName="tags" placeholder="Select tags" [multiple]="true"
                            [maxSelectedItems]="5" addTagText="Other" [addTag]="newTag" [appendTo]="'body'">
                            <ng-option *ngFor="let tag of tagList" [value]="tag.id">{{ tag.name
                                }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="isActive" style="font-weight: bold;">Post status <span style="color: red;">*</span></label>
                <ng-select formControlName="isActive" [searchable]="true" placeholder="Select category state"
                    [appendTo]="'body'">
                    <ng-option *ngFor="let state of stateList" [value]="state.value">{{ state.name
                        }}
                    </ng-option>
                </ng-select>
                <div *ngIf="(form.isActive.touched || form.isActive.dirty || isSubmitted)">
                    <mat-error class="custom__mat-error text-left" *ngIf="form.isActive.errors?.required">
                        Post status is required</mat-error>
                </div>
            </div>
            <div class="form-group">
                <label for="content" style="font-weight: bold;">Post's content <span
                        style="color: red;">*</span></label>
                <angular-editor formControlName="content" [config]="editorConfig" [placeholder]="'Enter text here...'">
                </angular-editor>
                <div *ngIf="(form.content.touched || form.content.dirty || isSubmitted)">
                    <mat-error class="custom__mat-error text-left" *ngIf="form.content.errors?.required">
                        Content is required</mat-error>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" [mat-dialog-close]="true" (click)="edit()">Save</button>
        <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.name === 'Delete comment' ">
    <h1 mat-dialog-title style="font-weight: bold">{{ data.name }}</h1>
    <mat-dialog-content class="mat-typography">
        <p style="font-size: 16px;">Are you sure want to delete this comment?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" (click)="deleteComment()">Delete</button>
        <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>