.mat-card-title {
    font-size: 16px !important;
    color    : #000000 !important;
    margin   : 0 !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-card {
    padding      : 0 !important;
    border-radius: 0 !important;
    background   : none !important;
    color        : #000000 !important;
}

.mat-card-header {
    display: block !important;
}

.mat-card-avatar {
    height: 32px !important;
    width : 32px !important;
}